{% extends "layout.twig" %}

{% block title %}   
Accueil
{% endblock %}

{% block otherCSS %}
    <link rel="preload" href="/public/accueil.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="styles.css"></noscript>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Nous transformons les moments gênants en opportunités de carrière</h1>
    </div>
{% endblock %}