body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
    width: 100%; 
}

.titre {
    text-align: center;
}

.logo img {
    width: 70%;
    height: 70%;
}

.gauche {
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 15%;
    height: 100%;
    width: 100%;
}

.milieu {
    margin-left: 5%;
    height: 100%;
    width: 20%;
}

.separator {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 2px;
    background-color: black;
}


.droite {
    text-align: center;
    margin-right: 10%;
    margin-top: 10%;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.titredroite {
    font-family: Arial;
    font: lighter;
    font-size: larger;
}

.champemail input {
    width: 300px;
    padding: 2%;
    margin-top: 10px;
}

.champmdp input {
    width: 300px;
    padding: 2%;
    margin-top: 50px;

}

.check {
    margin-top: 5px;
}

.bouton {
    width: 200px;
    height: 10px;
    padding: 30px;
    font-size: 20px;
    margin-top: 50px;
    line-height: 0px;
}


