<!DOCTYPE html>
<html lang="fr">
<head>
    
    {% block meta %}
    <meta name="description" content="Recherche de stages">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    
    <title>
    {% block title %}
    {% endblock %}
    </title>

    <link rel="stylesheet" href="/public/layout.css">
    <link rel="manifest" href="/manifest.json">
    

    {% block otherCSS %}
    {% endblock %}


</head>
<body>
    {% block session %}
    {% endblock %}

<header>
    {% block header %}
    <div class="header">
        <div class="header-logo">
            <a href="/accueil/"><img src="/public/img/logo.webP" alt="Logo"></a></img> 
        </div>
        <nav>
            <ul class="header-nav">
                <li class="{% if active_page == 'internship' %}active{% endif %}"><a href="/internship/">Stages</a></li>
                <li class="{% if active_page == 'company' %}active{% endif %}"><a href="/company/">Entreprises</a></li>
                {% if userType == 1 %}
                <li class="{% if active_page == 'pilot' %}active{% endif %}"><a href="/pilot/">Pilotes</a></li>
                {% endif %} 
                {% if userType != 3 %}
                    <li class="{% if active_page == 'student' %}active{% endif %}"><a href="/student/">Étudiants</a></li>
                {% endif %} 
                {% if userType != 2 %}
                    <li class="{% if active_page == 'application' %}active{% endif %}"><a href="/application/">Candidatures</a></li>
                {% endif %} 
            </ul>
        </nav>
        <div class="header-icons">
            <img src="/public/img/reglage.png" alt="Réglages">
            <img src="/public/img/profile.png" alt="Profil" id="profile">
        </div>
    </div>

<div class="profil-content" id="informations">
    <div>
        <h2 class="text">Vos Informations</h2>
        <div class="div1"><p>Nom : {{ userName|upper }}</p></div>
        <div class="div2"><p>Prénom : {{ userFirstName }}</p></div>
        <div>
            <p>Type : 
                {% if userType == 1 %}
                    Administrateur
                {% elseif userType == 2 %}
                    Pilote
                {% elseif userType == 3 %}
                    Étudiant
                {% endif %}
            </p>
        </div>
        {# <button class="btn" id="deco" type='submit' value="Déconnexion">Déconnexion</button> #}
        <a href="/SessionManager/logout" class="btn">Déconnexion</a>
    </div>
</div>
    {% endblock %}
</header>


    {% block body %}
    {% endblock %}

<footer>
    {% block footer %}
    <div class="footer">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/public/img/youtube.png" alt="YouTube"></a>
        <a href="https://www.linkedin.com/in/anne-portal-7683bb241/"><img src="/public/img/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.facebook.com/watch/?v=715780357288539"><img src="/public/img/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/ZemmourEric/"><img src="/public/img/twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com/bde_cesi_aix/"><img src="/public/img/instagram.png" alt="Instagram"></a>
        <p>© 2024 Stage_Tier - Tous droits réservés</p>
    </div>
    {% endblock %}
</footer>

    {% block otherJS %}
    {% endblock %}

    <script src="/public/layout.js" defer></script>
    <script src="/script.js"></script>
</body>
</html>