<!DOCTYPE html>
<html lang="fr">
<head>
    
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    
    <title>
    {% block title %}
    {% endblock %}
    </title>

    <link rel="stylesheet" href="/public/layout.css">

    {% block otherCSS %}
    {% endblock %}


</head>
<body>
    {% block session %}
    {% endblock %}

<header>
    {% block header %}
    <div class="header">
        <div class="header-logo">
            <a href="/accueil/"><img src="/public/img/logo.png" alt="Logo"></a></img> 
        </div>
        <nav>
            <ul class="header-nav">
                <li><a href="/internship/">Stages</a></li>
                <li><a href="/company/">Entreprises</a></li>
                {% if utilisateur == 1 %}
                    <li><a href="/pilot/">Pilotes</a></li>
                {% endif %} 
                {% if utilisateur != 3 %}
                    <li><a href="/student/">Étudiants</a></li>
                {% endif %} 
                {% if utilisateur != 2 %}
                    <li><a href="/application/">Candidatures</a></li>
                {% endif %} 
            </ul>
        </nav>
        <div class="header-icons">
            <img src="/public/img/reglage.png" alt="Réglages">
            <img src="/public/img/profile.png" alt="Profil" id="profile">
        </div>
    </div>

<div class="profil-content" id="informations">
    <div>
        <h2 class="text">Vos Informations</h2>
        <div class="div1"><p>Nom :</p> {{ userName|upper }}</div>
        <div class="div2"><p>Prénom :</p> {{ userFirstName }} </div>
        <div><p>Type :</p> {#{{ if {{userType}} }}#} </div>
        <button class="btn" id="deco" type="submit" value="Déconnexion">Déconnexion</button>
    </div>
</div>
    {% endblock %}
</header>


    {% block body %}
    {% endblock %}

<footer>
    {% block footer %}
    <div class="footer">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/public/img/youtube.png" alt="YouTube"></a>
        <a href="https://www.linkedin.com/in/anne-portal-7683bb241/"><img src="/public/img/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.facebook.com/watch/?v=715780357288539"><img src="/public/img/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/ZemmourEric/"><img src="/public/img/twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com/bde_cesi_aix/"><img src="/public/img/instagram.png" alt="Instagram"></a>
        <p>© 2024 Stage_Tier - Tous droits réservés</p>
    </div>
    {% endblock %}
</footer>

    {% block otherJS %}
    {% endblock %}

    <script src="/public/layout.js"></script>
</body>
</html>