{% extends "layout.twig" %} {% block title %} Création Pilote {% endblock %} {%
block otherCSS %}
<link rel="stylesheet" href="/public/pilot/createPilot.css" />
{% endblock %} {% block body %}
<div class="content"></div>

<div class="main">
  <form class="create_entrep" id="myform" method="POST">
    <!-- action="Entreprises_accueil.php" -->
    <h1>Créer un Pilote</h1>
    <div class="company">
      <h2>Prénom du Pilote</h2>
      <input type="text" name="nom" id="form_input1" required />
    </div>
    <div class="company">
      <h2>Nom du Pilote</h2>
      <input type="text" name="nom" id="form_input2" required />
    </div>

    <h2>Centre</h2>
    <div class="activite">
      <div id="secteur-container">
        <select name="secteur[]" class="comboboxCentre" id="comboboxCentre" required></select>
      </div>
    </div>

    <h2>Promotion</h2>
    <div class="localite">
      <div id="localite-container">
        <select name="localite[]" class="comboboxPromo" id="comboboxPromo" required>
            <option value = 'x'>Promotion</option>
            <option value = 'A1'>A1</option>
            <option value = 'A2'>A2</option>
            <option value = 'A3'>A3</option>
            <option value = 'A4'>A4</option>
            <option value = 'A5'>A5</option>
        </select>
      </div>
      <input type="button" value="+" id="ville" />
      <input type="button" value="-" id="moins" />
    </div>
    <div class="company">
        <h2>Mail</h2>
        <input type="text" name="nom" id="pilotMail" required />
    </div>
    <div class="company">
        <h2>Mdp</h2>
        <input type="text" name="nom" id="pilotMdp" required />
    </div>


    <div class="submit">
      <button type="submit" id="submit_btn">Soumettre</button>
    </div>
  </form>
</div>
{% endblock %} {% block otherJS %}
<script src="/public/pilot/fillCombobox copy.js"></script>
<script src="/public/pilot/createPilot.js"></script>
{% endblock %}
