{% extends "layout.twig" %}

{% block title %}
    Édition Pilotes
{% endblock %}

{% block otherCSS %}
    <link rel="stylesheet" href="/public/pilot/createPilot.css">
{% endblock %}

{% block body %}
<div class="content">
    
 </div>


<div class="main">
    <form class="create_entrep" id="myform" method="POST" > <!-- action="Entreprises_accueil.php" -->
        <h1>Modifier un Pilote</h1>
        <div class="company">
            <h2>Prénom du Pilote</h2>
            <input type="text" name="nom" id="form_input" required>
        </div>
        <div class="company">
            <h2>Nom du Pilote</h2>
            <input type="text" name="nom" id="form_input" required>
        </div>

        <h2>Centre</h2>
    <div class="activite">
        <div id="secteur-container">
            <select name="secteur[]" class="comboboxSecteur" id="comboboxSecteur" required>
            </select>
        </div>
    </div>

    <h2>Promotion</h2>
    <div class="localite">
        <div id="localite-container">
            <select name="localite[]" class="comboboxVille" id="comboboxVille" required>
            </select>
        </div>
        <input type="button" value="+" id="ville">
        <input type="button" value="-" id="moins">
    </div>

        <div class="submit">
            <button type="submit" id="submit_btn">Soumettre</button>
        </div>
    </form>
</div>
{% endblock %}

{% block otherJS %}
<script src="/public/company/fillCombobox.js"></script>
<script src="/public/company/editCompany.js"></script>
{% endblock %}