.content h1 {
    text-align: center;
    justify-content: center;
    color: #ffffff;
    text-shadow: 1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/public/img/photogroup.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: rgba(239, 236, 151, 0.984);*/
}

.content {
    flex: 1; /* Permet au contenu de remplir l'espace disponible */
    display: flex; /* Active flexbox pour le contenu */
    flex-direction: column; /* Organise les enfants du contenu en colonne */
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre le contenu horizontalement */
}



