
html, body {
    height: 100%; /* Assurez-vous que l'élément html et body prennent toute la hauteur */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organise les enfants en colonne */
}

body {
    display: flex;
    flex-direction: column; /* Ajout pour clarifier l'organisation en colonne */
    min-height: 100vh; /* Utilise plutôt min-height pour couvrir tout l'écran */
    font-family: Arial, sans-serif;
    /* Autres styles */
}

.header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-logo img {
    height: 50px;
}
.header-nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.header-nav li {
    padding-right: 10px;
    cursor: pointer;
}
.header-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}
.header-nav li:hover {
    text-decoration: underline;
}
.header-nav li.active a {
    font-weight: bold;
    text-decoration: underline; /* Souligne le texte */
}

.header-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;

}
.header-icons img {
    height: 24px; /* Ajustez la taille selon vos besoins */
    cursor: pointer;
    margin: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
}
.main{
    flex-grow: 1;
}

.content h1 {
    text-align: center;
    justify-content: center;
}

.content {
    flex: 1; /* Permet au contenu de remplir l'espace disponible */
    display: flex; /* Active flexbox pour le contenu */
    flex-direction: column; /* Organise les enfants du contenu en colonne */
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre le contenu horizontalement */
}

.text{
    text-align: center;
    margin-top: 20px;
}
.profil-content{
    position: fixed;
    background-color: #f0f0f0;
    border: solid 2px black;
    right: 1%;
    top: 15%;
    border-radius: 5%;
    padding: 10px;
    width: 250px;
    display: none;
}

.div1{
   display: inline-flex;
   margin-right: 25%;

}

.div2{
    display: inline-flex;
}
 
.btn{
    background-color: transparent;
    cursor: pointer;
    color: red;
}

.footer {
    width: 100%;
    height: 60px; /* Hauteur du footer */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto; /* Place le footer en bas du contenu */
}

.footer img {
    height: 24px; /* Ajustez la taille des icônes si nécessaire */
    margin: 0 10px;
    cursor: pointer;
}
.footer p {
    color: #666;
    font-size: 14px;
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    .header-nav {
        flex-direction: column;
        color: #000000;
        align-items: center;
        margin-left: 0;
        padding: 0;
      }
      .header-nav li {
          margin-bottom: 20px;
      }
      .header-icons
      {
          margin-left: 30px;
          padding: 0  ;
          margin: 0;
      }
      .footer p{
        padding-right: 0;
        font-size: 4px;
      }
      .header-icons img{
          padding: 0;
      } 
}