
body {
    font-family: Arial, sans-serif;
    background-image: url('http://stagetier.fr/public/img/candidat.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
main {
    height: 100%;
}


.header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-logo img {
    height: 50px;
}
.header-nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.header-nav li {
    padding-right: 10px;
    cursor: pointer;
}
.header-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}
.header-nav li:hover {
    text-decoration: underline;
}
.header-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.header-icons img {
    height: 24px; /* Ajustez la taille selon vos besoins */
    cursor: pointer;
    margin: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
}

.content h1 {
    text-align: center;
    font-size: 150%;
    
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    
}



.sub {
    padding: 5px;
    z-index: 1;
    display: flex;
    background-color: #c9c9c9;
    align-items: center;
    justify-content: center;
    position: sticky; /* This is what makes it sticky */
    top: 0; /* Stick it to the top */
    
}
.sub h1 {
    text-align: center;
    font-size: 200%;
    margin-top: 2%;
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.sub input {
    text-align: left;
    text-indent: 20px;
    width: 100%;
    height: 30px;
    max-width: 600px;
    color: #000000;
    border-radius: 20px;
    border-color: #00000000;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); /* Ombre de bordure */
}

.combox {    
    text-align: center;
}
.recherche{
    width: 100%;
    max-width: 330px;
    padding-right: 5%;
}
.combox select{
    
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 100px;
    min-height: 16px;
    border-radius: 20px;
    border-color: #00000000;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 5px;


}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create button{
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    border-color: #00000000;
    margin-left: 5px;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.note h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
}
.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit button{
    width: 45%;
    border-radius: 5vw;
    border-color: #00000057;
}
.create_entrep{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    background-color: #ffffffb9;
    border-color: #00000000;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.company input {
    border-radius: 2vw;
    border-color: #00000057;
}

.activite, .localite {
    display: flex;
    justify-content: center;
    align-items: self-start;
    width: 100%;
    gap: 10px; /* Espacement entre les éléments */
}

#secteur-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#localite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.comboboxSecteur {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empile les éléments verticalement */
    border-radius: 2vw;
    border-color: #00000057;
}

.comboboxVille {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empile les éléments verticalement */
    border-radius: 2vw;
    border-color: #00000057;
}


#secteur-container select, #localite-container select {
    margin-bottom: 10px;
    width: 100%;
}

.activite input, .localite input {
    border-radius: 2vw;
    border-color: #00000057;
}

#secteur, #ville, #moins {
    margin-left: 10px; /* Espacement entre le select et l'input */
    margin-bottom: 10px;
    border-radius: 2vw;
}

.star {
    display: inline-block;
    font-size: clamp(30px,3vw,40px);
 /*   width: clamp(24px,2.4vw,28px); 
    height: clamp(24px,2.4vw,28px);*/
    background-size: contain;
    color: rgb(180, 180, 180 ); /* Définit la couleur des étoiles par défaut */
    cursor: pointer;
    margin-bottom: 15%;
}
.footer {
    width: 100%;
    height: 60px; /* Hauteur du footer */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto; /* Place le footer en bas du contenu */
}

.footer img {
    height: 24px; /* Ajustez la taille des icônes si nécessaire */
    margin: 0 10px;
    cursor: pointer;
}
.footer p {
    color: #666;
    font-size: 14px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
  
    .header-nav {
      flex-direction: column;
      color: #000000;
      align-items: center;
    }
    .header-nav li {
        margin-bottom: 20px;
    }
    .header-icons
    {
        margin-left: 30px;
    }
    .create_entrep{
        width: 100%;
        height: 100%;
        border-radius: 0%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2%;
        padding-bottom: 6%;
    }
}