{% extends "layout.twig" %} {% block title %} Statistiques Entreprises {%
endblock %} {% block otherCSS %}
<link rel="stylesheet" href="\public\internship\stats.css" />
{% endblock %} {% block body %}

<!--La class carre représente ici les blocks dans lequels sont placé les informations lié aux entreprises-->

<div class="main">
  <div class="alldiag">
    <div class="diag1">
      <div class="diagtitle">
        <h1>Compétences par stage</h1>
      </div>
      <div class="diagcomplet">
        <div class="diagsect" id="diagsect">
          <!--<p class="sec1">secteur 1</p> <p class="sec2">secteur 2</p> <p class="sec3">secteur 3</p> -->
        </div>
        <div class="Secteur" id="Secteur"></div>
      </div>
    </div>
    <div class="diag1">
      <div class="diagtitle">
        <h1>Stages par ville</h1>
      </div>
      <div class="diagcomplet">
        <div class="diagloc" id="diagloc">
          <!-- <p class="sec1">secteur 1</p> <p class="sec2">secteur 2</p> <p class="sec3">secteur 3</p> -->
        </div>
        <div class="Localité" id="Localité"></div>
      </div>
    </div>
    <div class="diag1">
      <div class="diagtitle">
        <h1>Stages par promotion</h1>
      </div>
      <div class="diagcomplet">
        <div class="diagsect" id="diagprom">
          <!--<p class="sec1">secteur 1</p> <p class="sec2">secteur 2</p> <p class="sec3">secteur 3</p> -->
        </div>
        <div class="Promo" id="Promo"></div>
      </div>
    </div>
    <div class="diag1">
      <div class="diagtitle">
        <h1>Stages par durée</h1>
      </div>
      <div class="diagcomplet">
        <div class="diagsect" id="diagdur">
          <!--<p class="sec1">secteur 1</p> <p class="sec2">secteur 2</p> <p class="sec3">secteur 3</p> -->
        </div>
        <div class="Promo" id="Duree"></div>
      </div>
    </div>
  </div>

  <div class="top3">
    <div class="titletop">
        <h1>Top Like</h1>
      </div>
    <div class="diag1" id="diag1">
      
    </div>
  </div>
</div>
  {% endblock %} {% block otherJS %}
  <script src="\public\internship\stats.js"></script>
  {% endblock %}

